<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Conta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="background" padding>
  <ion-img id="basket"src="/assets/basket.png"></ion-img><br><br>
  <ion-card id="cardlogin">  
    <ion-item lines="none" id="login">
      <ion-input clearInput placeholder="Usuario"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card id="cardsenha">  
      <ion-item lines="none">
        <ion-input clearInput placeholder="Senha"></ion-input>
      </ion-item>
    </ion-card>
    <ion-button color="danger" expand="block" fill="outline" padding>Logar</ion-button>
    
    <br><br><ion-label [routerLink]="['/cadastrese']" id="ou" color="danger">
      Cadastre-se
    </ion-label><br><br>
    <ion-button color="danger" fill="outline" id="google"padding>
      <ion-img id="googleico"src="/assets/google.png" padding></ion-img>
      Entrar com a conta do Google
    </ion-button>
  </ion-content>

        
