<ion-header>
  <ion-toolbar>
    <ion-title>cadastrese</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card id="cardnamefull">  
        <ion-item lines="none" id="nome">
          <ion-input clearInput placeholder="Nome completo"></ion-input>
        </ion-item>
      </ion-card>    
      <ion-card id="cardemail">  
        <ion-item lines="none" id="email">
          <ion-input clearInput placeholder="Digite um e-mail"></ion-input>
          </ion-item>
      </ion-card>
      <ion-card id="cardusuario">  
        <ion-item lines="none" id="usuario">
          <ion-input clearInput placeholder="Usuario"></ion-input>
        </ion-item>
      </ion-card>  
</ion-content>
