<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card id="cardname">  
        <ion-item lines="none" id="nome">
          <ion-input clearInput placeholder="Nome"></ion-input>
        </ion-item>
      </ion-card>    
      <ion-card id="cardsobrenome">  
        <ion-item lines="none" id="sobrenome">
          <ion-input clearInput placeholder="Sobrenome"></ion-input>
        </ion-item>
      </ion-card>    
      <ion-card id="cardemail">  
        <ion-item lines="none" id="email">
          <ion-input clearInput placeholder="Digite um e-mail"></ion-input>
          </ion-item>
      </ion-card>
      <ion-card id="cardusuario">  
        <ion-item lines="none" id="usuario">
          <ion-input clearInput placeholder="Usuario"></ion-input>
        </ion-item>
      </ion-card>  
      <ion-card id="cardsenha">  
        <ion-item lines="none" id="senha" >
          <ion-input type="password" clearInput placeholder="Senha"></ion-input>
        </ion-item>
      </ion-card>  
      <ion-card id="cardcep">  
        <ion-item lines="none" id="cep" >
          <ion-input type="text" [(ngModel)]="cep" maxleingth="8" (keyup)="autoPreenchimento()" autofocus clearInput placeholder="CEP"></ion-input>
        </ion-item>
      </ion-card> 
      <ion-card id="cardlogradouro">  
        <ion-item lines="none" id="Logradouro" >
          <ion-input clearInput placeholder="Logradouro" [(ngModel)]="logradouro"></ion-input>
        </ion-item>
      </ion-card> 
      <ion-card id="cardbairro">  
        <ion-item lines="none" id="bairro" >
          <ion-input clearInput placeholder="Bairro">{{bairro}}</ion-input>
        </ion-item>
      </ion-card>
      <ion-card id="cardcidade">  
        <ion-item lines="none" id="cidade" >
          <ion-input clearInput placeholder="Cidade">{{cidade}}</ion-input>
        </ion-item>
      </ion-card>
      <ion-card id="cardestado">  
        <ion-item lines="none" id="estado" >
          <ion-input clearInput placeholder="Estado">{{estado}}</ion-input>
        </ion-item>
      </ion-card>
      
</ion-content>
